Dockerfile merge=foo
Dockerfile merge=foo
Readme.txt.txt merge=foo
config.xml merge=foo
xoriant.xml merge=foo
test_conf/* merge=foo
test_conf/ merge=foo
test_conf merge=foo
test_conf/conf.xml merge=foo
/test_conf/conf.xml merge=foo
/test_conf/* merge=foo
/test_conf/ merge=foo
test_conf/map.xml merge=foo
/test_conf/map.xml merge=foo
